APP_PORT=5000
#APP_HOST=localhost # kalau run db container aja
APP_HOST=0.0.0.0    # kalau run via app container (biasanya dari compose, tapi bisa set listennya jangan di APP_HOST di main (index))

PGHOST=localhost
PGPORT=5433
PGUSER=ambatron
PGPASSWORD=gaklogis
PGDATABASE=namadb